/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
* {font-family: 'Noto Sans KR', sans-serif;} */

@import url('https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css');
* {font-family: 'Nanum Barun Gothic', sans-serif;}


html,body{
    margin:0;
}

ul,li{
    margin:0; padding:0;
    list-style:none;
}
h1,h2,h3,h4,h5,h6,figure,figcaption {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


*{
    color:#736a60;
    letter-spacing: 0.1em;
    box-sizing: border-box;
    font-size: 16px;
}

