@charset "UTF-8";
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .content1 {
  background: #f8faf0;
  border-bottom: 1px solid #e5e2e0;
}

header .content1 .content_inner {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

header .content1 .content_inner .logo {
  text-align: center;
  padding: 1rem;
}

header .content1 .content_inner .logo a {
  display: inline-block;
  background: url("../img/logo_bg.png") no-repeat;
  text-indent: -9999px;
  width: 176px;
  height: 60px;
}

header .content1 .content_inner .header_sns {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .content1 .content_inner .etc {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .content1 .content_inner .header_sns ul,
header .content1 .content_inner .etc ul {
  width: 100%;
}

header .content1 .content_inner .header_sns ul li,
header .content1 .content_inner .etc ul li {
  display: inline-block;
  padding-right: 20px;
}

header .content1 .content_inner .header_sns ul li a,
header .content1 .content_inner .etc ul li a {
  font-size: 0.7em;
  color: #736a60;
}

header.active {
  -webkit-transform: translateY(-93px);
          transform: translateY(-93px);
}

header.active .content2 .logo {
  opacity: 1;
}

header.active .content2 .service {
  opacity: 0;
}

/* NAVI */
.content2 {
  background: #fff;
  position: relative;
  border-bottom: 1px solid #e5e2e0;
}

.content2 .content_inner {
  width: 70%;
  margin: 0 auto;
}

.content2 .content_inner:after {
  content: '';
  display: table;
  clear: both;
}

.content2 .content_inner .logo {
  float: left;
  text-align: left;
  margin-top: 7px;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.content2 .content_inner .logo a {
  display: inline-block;
  background: url("../img/logo_bg2.png") no-repeat;
  text-indent: -9999px;
  width: 120px;
  height: 41px;
}

.content2 .content_inner .service {
  float: left;
  position: absolute;
  left: 15%;
  top: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.content2 .content_inner .service ul li {
  display: inline-block;
}

.content2 .content_inner .service ul li a {
  display: inline-block;
}

.content2 .content_inner .service ul li a span {
  display: block;
  background: url("../img/gnb_menu.png") no-repeat;
  text-indent: -9999em;
  height: 52px;
}

.content2 .content_inner .service ul .service_login a span {
  width: 40px;
  background-position: 0 0px;
}

.content2 .content_inner .service ul .service_join {
  padding-left: 40px;
}

.content2 .content_inner .service ul .service_join a span {
  width: 30px;
  background-position: 0 -120px;
}

.gnb {
  float: right;
}

.gnb .gnb_wrap {
  width: 100%;
}

.gnb .gnb_wrap ul {
  /* 메뉴 마우스 오버 */
}

.gnb .gnb_wrap ul .gnb_depth1 {
  float: left;
  padding-left: 50px;
}

.gnb .gnb_wrap ul .gnb_depth1 .gnb_main a {
  display: inline-block;
}

.gnb .gnb_wrap ul .gnb_depth1 .gnb_main a span {
  display: block;
  background: url("../img/gnb_menu.png") no-repeat;
  text-indent: -9999em;
  height: 51px;
}

.gnb .gnb_wrap ul .gnb_depth1 .gnb_sub_wrap {
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  height: 230px;
  border-top: 1px solid #e5e2e0;
  border-bottom: 1px solid #e5e2e0;
  padding: 2rem 0;
  background: #fff;
}

.gnb .gnb_wrap ul .gnb_depth1 .gnb_sub_wrap .gnb_sub {
  width: 70%;
  margin: 0 auto;
  -webkit-transition: .5s;
  transition: .5s;
}

.gnb .gnb_wrap ul .gnb_depth1 .gnb_sub_wrap .gnb_sub ul .gnb_depth2 {
  display: inline-block;
  padding-right: 1rem;
  margin-right: 40px;
  vertical-align: top;
}

.gnb .gnb_wrap ul .gnb_depth1 .gnb_sub_wrap .gnb_sub ul .gnb_depth2 > a {
  font-size: 0.9em;
  font-weight: 600;
}

.gnb .gnb_wrap ul .gnb_depth1 .gnb_sub_wrap .gnb_sub ul .gnb_depth2 > a:hover {
  color: #2c1810;
  font-weight: 800;
}

.gnb .gnb_wrap ul .gnb_depth1 .gnb_sub_wrap .gnb_sub ul .gnb_depth2 ul {
  margin-top: 1rem;
}

.gnb .gnb_wrap ul .gnb_depth1 .gnb_sub_wrap .gnb_sub ul .gnb_depth2 ul li {
  display: block;
  padding-bottom: .5rem;
}

.gnb .gnb_wrap ul .gnb_depth1 .gnb_sub_wrap .gnb_sub ul .gnb_depth2 ul li a {
  color: #9f9d9d;
  font-size: 0.9em;
}

.gnb .gnb_wrap ul .gnb_depth1 .gnb_sub_wrap .gnb_sub ul .gnb_depth2 ul li a:hover {
  color: #fabe41;
}

.gnb .gnb_wrap ul .gnb_onlinestore .gnb_main a span {
  width: 107px;
  background-position: -70px -299px;
}

.gnb .gnb_wrap ul .gnb_onlinestore .gnb_main:hover span {
  background-position: -70px -359px;
}

.gnb .gnb_wrap ul .gnb_onlinestore:hover .gnb_sub_wrap {
  display: block;
}

.gnb .gnb_wrap ul .gnb_menu .gnb_main a span {
  width: 46px;
  background-position: -70px 0px;
}

.gnb .gnb_wrap ul .gnb_menu .gnb_main:hover span {
  background-position: -140px 0px;
}

.gnb .gnb_wrap ul .gnb_menu:hover .gnb_sub_wrap {
  display: block;
}

.gnb .gnb_wrap ul .gnb_event .gnb_main a span {
  width: 50px;
  background-position: -70px -60px;
}

.gnb .gnb_wrap ul .gnb_event .gnb_main:hover span {
  background-position: -140px -60px;
}

.gnb .gnb_wrap ul .gnb_event:hover .gnb_sub_wrap {
  display: block;
}

.gnb .gnb_wrap ul .gnb_store .gnb_main a span {
  width: 50px;
  background-position: -70px -120px;
}

.gnb .gnb_wrap ul .gnb_store .gnb_main:hover span {
  background-position: -140px -120px;
}

.gnb .gnb_wrap ul .gnb_store:hover .gnb_sub_wrap {
  display: block;
}

.gnb .gnb_wrap ul .gnb_brand .gnb_main a span {
  width: 55px;
  background-position: -70px -180px;
}

.gnb .gnb_wrap ul .gnb_brand .gnb_main:hover span {
  background-position: -140px -180px;
}

.gnb .gnb_wrap ul .gnb_brand:hover .gnb_sub_wrap {
  display: block;
}

/* MONTHLY DONUTS */
.ad_dom {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  width: 100%;
  background: #2c1810;
  border-bottom: 4px solid #2c1810;
  -webkit-transform: translateY(-210px);
          transform: translateY(-210px);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.ad_dom.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ad_dom.active .content_inner .btn a {
  background: #2c1810 url("../img/ad_dom_on.png") no-repeat 12px 10px;
}

.ad_dom .content_inner {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.ad_dom .content_inner .monthly_donuts {
  height: 210px;
  margin: 0 auto;
  width: 40%;
}

.ad_dom .content_inner .monthly_donuts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ad_dom .content_inner .monthly_donuts ul li a img {
  width: 100%;
}

.ad_dom .content_inner .btn {
  position: absolute;
  right: 5%;
  bottom: -24px;
}

.ad_dom .content_inner .btn a {
  display: inline-block;
  height: 24px;
  padding: 0 10px 0 30px;
  border-radius: 0 0 5px 5px;
  background: #2c1810 url("../img/ad_dom.png") no-repeat 12px 10px;
  color: #f9b234;
  font-size: .7em;
  vertical-align: top;
  line-height: 2.3;
}

main {
  width: 100%;
}

main .container {
  width: 100%;
  margin: 142px auto;
}

main .container .main_wrap {
  width: 100%;
}

.main_slide {
  width: 100%;
  position: relative;
}

.main_slide .slide_wrap {
  width: 100%;
  opacity: 1;
  display: block;
}

.main_slide .slide_wrap ul {
  position: relative;
}

.main_slide .slide_wrap ul li a {
  display: block;
  width: 100%;
  height: 550px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_slide .slide_wrap ul li a div {
  position: absolute;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_slide .slide_wrap ul li a div img {
  width: 100%;
}

.main_slide .slide_wrap ul .s00 a {
  background: url("../img/bg_slide_donuts.jpg") no-repeat center center;
}

.main_slide .slide_wrap ul .s00 a .ani_donuts {
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.main_slide .slide_wrap ul .s00 a.active .ani_donuts {
  top: 10%;
  opacity: 1;
}

.main_slide .slide_wrap ul .s01 a {
  background: url("../img/bg_slide_chocoA.jpg") no-repeat center center;
}

.main_slide .slide_wrap ul .s01 a .ani_chocoA_01 {
  left: 30%;
  top: 100%;
  -webkit-transform: translate(-30%, 0%);
          transform: translate(-30%, 0%);
}

.main_slide .slide_wrap ul .s01 a .ani_chocoA_02 {
  left: 25%;
  top: 100%;
  -webkit-transform: translate(-25%, 0%);
          transform: translate(-25%, 0%);
}

.main_slide .slide_wrap ul .s01 a.active .ani_chocoA_01 {
  top: 25%;
  opacity: 1;
}

.main_slide .slide_wrap ul .s01 a.active .ani_chocoA_02 {
  top: 40%;
  opacity: 1;
}

.main_slide .slide_wrap ul .s02 a {
  background: url("../img/bg_slide_inside.jpg") no-repeat center center;
}

.main_slide .slide_wrap ul .s02 a .ani_inside_01 {
  left: 30%;
  top: 100%;
  -webkit-transform: translate(-25%, 0%);
          transform: translate(-25%, 0%);
}

.main_slide .slide_wrap ul .s02 a .ani_inside_02 {
  left: 32%;
  top: 0%;
  -webkit-transform: translate(-32%, 0%);
          transform: translate(-32%, 0%);
}

.main_slide .slide_wrap ul .s02 a.active .ani_inside_01 {
  top: 20%;
  opacity: 1;
}

.main_slide .slide_wrap ul .s02 a.active .ani_inside_02 {
  top: 70%;
  opacity: 1;
}

.main_slide .slide_wrap ul .s03 a {
  background: url("../img/bg_slide_mainCoffee.jpg") no-repeat center center;
}

.main_slide .slide_wrap ul .s03 a .ani_mainCoffee {
  left: 28%;
  top: 100%;
  -webkit-transform: translate(-28%, 0%);
          transform: translate(-28%, 0%);
}

.main_slide .slide_wrap ul .s03 a.active .ani_mainCoffee {
  top: 30%;
  opacity: 1;
}

.main_slide .slide_wrap ul .s04 a {
  background: url("../img/bg_slide_mlikcream.jpg") no-repeat center center;
}

.main_slide .slide_wrap ul .s04 a .ani_milkcream {
  left: 28%;
  top: 0%;
  -webkit-transform: translate(-28%, 0%);
          transform: translate(-28%, 0%);
}

.main_slide .slide_wrap ul .s04 a.active .ani_milkcream {
  top: 25%;
  opacity: 1;
}

.main_slide .slide_wrap ul .s05 a {
  background: url("../img/bg_slide_mshakk.jpg") no-repeat center center;
}

.main_slide .slide_wrap ul .s05 a .ani_mshakk {
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.main_slide .slide_wrap ul .s05 a.active .ani_mshakk {
  top: 10%;
  opacity: 1;
}

.main_slide .slide_wrap ul .s06 a {
  background: url("../img/bg_slide_theater.jpg") no-repeat center center;
}

.main_slide .slide_wrap ul .s06 a .ani_theater_01 {
  left: 30%;
  top: 100%;
  -webkit-transform: translate(-30%, 0%);
          transform: translate(-30%, 0%);
}

.main_slide .slide_wrap ul .s06 a .ani_theater_02 {
  left: 30%;
  top: 0%;
  -webkit-transform: translate(-30%, 0%);
          transform: translate(-30%, 0%);
}

.main_slide .slide_wrap ul .s06 a.active .ani_theater_01 {
  top: 30%;
  opacity: 1;
}

.main_slide .slide_wrap ul .s06 a.active .ani_theater_02 {
  top: 60%;
  opacity: 1;
}

/* 비쥬얼 스토리 버튼 */
.main_slide .brandstory_btn {
  position: absolute;
  right: 20%;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  -webkit-animation: btnSlide 3s ease-in-out infinite alternate;
          animation: btnSlide 3s ease-in-out infinite alternate;
}

.main_slide .brandstory_btn img {
  width: 100%;
}

@-webkit-keyframes btnSlide {
  0% {
    top: -10%;
  }
  100% {
    top: 0%;
  }
}

@keyframes btnSlide {
  0% {
    top: -10%;
  }
  100% {
    top: 0%;
  }
}

/* 비쥬얼 스토리 */
.main_slide {
  position: relative;
}

.main_slide .br_wrap {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}

.main_slide .br_wrap.active {
  width: 100%;
  visibility: visible;
  z-index: 10;
}

.main_slide .br_wrap ul {
  position: relative;
}

.main_slide .br_wrap ul li a {
  display: block;
  width: 100%;
  height: 550px;
  position: relative;
}

.main_slide .br_wrap ul li a div {
  position: absolute;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_slide .br_wrap ul li a div img {
  width: 100%;
}

.main_slide .br_wrap ul .br00 a {
  background: url("../img/img_br_visual01.jpg") no-repeat center center;
}

.main_slide .br_wrap ul .br00 a .vis_light {
  left: 506px;
  top: 95px;
  width: 376px;
  height: 342px;
  opacity: 0;
  -webkit-animation: light 1s ease-in-out 2s infinite alternate;
          animation: light 1s ease-in-out 2s infinite alternate;
}

.main_slide .br_wrap ul .br00 a .vis_br00_01 {
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-54.5%, -45%);
          transform: translate(-54.5%, -45%);
}

.main_slide .br_wrap ul .br00 a .vis_br00_02 {
  left: 58%;
  top: 55%;
  -webkit-transform: translate(-62%, -55%);
          transform: translate(-62%, -55%);
}

.main_slide .br_wrap ul .br00 a.active .vis_br00_01 {
  left: 54%;
  opacity: 1;
}

.main_slide .br_wrap ul .br00 a.active .vis_br00_02 {
  left: 62%;
  opacity: 1;
}

@-webkit-keyframes light {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.6;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes light {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.6;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.main_slide .br_wrap ul .br01 a {
  background: url("../img/img_br_visual02.jpg") no-repeat center top;
}

.main_slide .br_wrap ul .br01 a .vis_br01_01 {
  left: 70%;
  top: 20%;
  -webkit-transform: translate(-70%, -20%);
          transform: translate(-70%, -20%);
}

.main_slide .br_wrap ul .br01 a .vis_br01_02 {
  left: 70%;
  top: 31%;
  -webkit-transform: translate(-70%, -31%);
          transform: translate(-70%, -31%);
}

.main_slide .br_wrap ul .br01 a.active .vis_br01_01 {
  opacity: 1;
}

.main_slide .br_wrap ul .br01 a.active .vis_br01_02 {
  opacity: 1;
}

.main_slide .br_wrap ul .br02 a {
  background: url("../img/img_br_visual03.jpg") no-repeat center top;
}

.main_slide .br_wrap ul .br02 a .vis_br02_01 {
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
}

.main_slide .br_wrap ul .br02 a .vis_br02_02 {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main_slide .br_wrap ul .br02 a.active .vis_br02_01 {
  left: 55%;
  opacity: 1;
}

.main_slide .br_wrap ul .br02 a.active .vis_br02_02 {
  left: 40%;
  opacity: 1;
}

.br_wrap {
  position: relative;
}

.br_wrap .closeBtn {
  position: absolute;
  right: 20%;
  top: 10%;
}

.br_wrap .closeBtn span {
  display: block;
  width: 26px;
  height: 2px;
  background: #666;
}

.br_wrap .closeBtn span:nth-of-type(1) {
  -webkit-transform: translateY(2px) rotate(45deg);
          transform: translateY(2px) rotate(45deg);
}

.br_wrap .closeBtn span:nth-of-type(2) {
  -webkit-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotate(-45deg);
}

/* 이벤트 */
.new_event {
  width: 65%;
  margin: 10rem auto;
}

.new_event .inner .event_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new_event .inner .event_top .h2 img {
  width: 100%;
}

.new_event .inner .event_top .txt_wrap strong {
  font-size: 1.1em;
  color: #392213;
}

.new_event .inner .event_top .txt_wrap p {
  font-size: .7em;
}

.new_event .inner .event_top .txt_wrap:before {
  content: '';
  display: block;
  width: 20%;
  height: 2px;
  background: #736a60;
  margin-bottom: 2rem;
}

.new_event .inner .allview_btn a {
  padding: 1rem 2rem;
  border: 1px solid #c8bfb0;
  border-radius: 10px;
  font-size: .8em;
  color: #ab9b7f;
}

.new_event .inner .event_slide {
  margin: 1rem auto;
}

.new_event .inner .event_slide .event_wrap .event {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid #d1cccb;
  overflow: hidden;
  margin-top: 1rem;
}

.new_event .inner .event_slide .event_wrap .event:nth-of-type(4n) {
  margin-left: 0;
}

.new_event .inner .event_slide .event_wrap .event a {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.new_event .inner .event_slide .event_wrap .event a figure {
  overflow: hidden;
  position: relaive;
  border-bottom: 1px solid #d1cccb;
}

.new_event .inner .event_slide .event_wrap .event a figure img {
  width: 100%;
  display: block;
}

.new_event .inner .event_slide .event_wrap .event a .title {
  padding: 1rem 1rem 0 1rem;
}

.new_event .inner .event_slide .event_wrap .event a .period {
  padding: 0 1rem 1rem 1rem;
  border-bottom: 1px solid #d1cccb;
  font-size: .8em;
}

.new_event .inner .event_slide .event_wrap .event a .benefit {
  padding: 1rem;
  height: 70px;
  overflow: hidden;
  font-size: .9em;
}

/* 백그라운드 스크롤 */
.banner_bg {
  width: 100%;
  height: 400px;
  background: url("../img/bg_m_bannerbg.jpg") center center;
  background-attachment: fixed;
  position: relative;
}

.banner_bg .scroll_txt1 {
  position: absolute;
  left: 0%;
  top: 30%;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
}

.banner_bg .scroll_txt1 img {
  width: 100%;
}

.banner_bg .scroll_txt2 {
  position: absolute;
  left: 0%;
  top: 55%;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
}

.banner_bg .scroll_txt2 img {
  width: 100%;
}

.banner_bg.active .scroll_txt1 {
  left: 30%;
  opacity: 1;
}

.banner_bg.active .scroll_txt2 {
  left: 35%;
  opacity: 1;
}

/* 크리스피 크림 도넛 메뉴 */
.product {
  width: 70%;
  margin: 10rem auto;
}

.product .product_wrap {
  width: 100%;
  height: 1200px;
  margin: 0 auto;
  position: relative;
}

.product .product_wrap h2 {
  width: 100%;
  text-align: center;
}

.product .product_wrap .product_txt {
  text-align: center;
  margin: 1.5rem auto;
}

.product .product_wrap .product_txt p {
  font-size: .7em;
}

.product .product_wrap .menu_list {
  margin: 10rem auto 0;
}

.product .product_wrap .menu_list li {
  position: absolute;
  background: #fff;
}

.product .product_wrap .menu_list li .img_wrap {
  position: absolute;
  width: 100%;
}

.product .product_wrap .menu_list .donuts {
  background-color: #c8bfb0;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  width: 40%;
  height: 302px;
  left: 27.5%;
  top: 20%;
}

.product .product_wrap .menu_list .donuts .txt_wrap {
  position: absolute;
  right: 5%;
  bottom: 5%;
  text-align: end;
}

.product .product_wrap .menu_list .donuts .txt_wrap .title_eng {
  margin-bottom: 1rem;
}

.product .product_wrap .menu_list .donuts .txt_wrap .desc {
  margin-bottom: 1rem;
}

.product .product_wrap .menu_list .donuts .txt_wrap a {
  padding: .5rem 1rem;
  display: inline-block;
  border: 1px solid #d1cccb;
  background-color: #d1cccb;
  font-size: .7em;
  border-radius: 10px;
}

.product .product_wrap .menu_list .donuts .img_wrap {
  right: 20%;
  top: -30%;
}

.product .product_wrap .menu_list .donuts .img_wrap img {
  width: 80%;
}

.product .product_wrap .menu_list .share {
  background-color: #2c1810;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  width: 25%;
  height: 390px;
  right: 5%;
  top: 20%;
}

.product .product_wrap .menu_list .share .txt_wrap {
  width: 100%;
  position: absolute;
  left: 0%;
  top: 5%;
  text-align: center;
}

.product .product_wrap .menu_list .share .txt_wrap .title_eng {
  margin-bottom: 1rem;
  color: #fff;
}

.product .product_wrap .menu_list .share .txt_wrap .desc {
  margin-bottom: 1rem;
  color: #fff;
}

.product .product_wrap .menu_list .share .txt_wrap a {
  padding: .5rem 1rem;
  display: inline-block;
  border: 1px solid #d1cccb;
  background-color: #d1cccb;
  font-size: .7em;
  border-radius: 10px;
}

.product .product_wrap .menu_list .share .img_wrap {
  right: -25%;
  top: 35%;
}

.product .product_wrap .menu_list .share .img_wrap img {
  width: 90%;
}

.product .product_wrap .menu_list .beverage {
  background-color: #ab9b7f;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  width: 30%;
  height: 360px;
  left: 0%;
  top: 47.5%;
}

.product .product_wrap .menu_list .beverage .txt_wrap {
  width: 100%;
  position: absolute;
  left: 0%;
  top: 5%;
  text-align: center;
}

.product .product_wrap .menu_list .beverage .txt_wrap .title_eng {
  margin-bottom: 1rem;
}

.product .product_wrap .menu_list .beverage .txt_wrap .desc {
  margin-bottom: 1rem;
}

.product .product_wrap .menu_list .beverage .txt_wrap a {
  padding: .5rem 1rem;
  display: inline-block;
  border: 1px solid #d1cccb;
  background-color: #d1cccb;
  font-size: .7em;
  border-radius: 10px;
}

.product .product_wrap .menu_list .beverage .img_wrap {
  left: 10%;
  top: 45%;
}

.product .product_wrap .menu_list .beverage .img_wrap img {
  width: 80%;
}

.product .product_wrap .menu_list .coffee {
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  width: 35%;
  height: 270px;
  right: 32.5%;
  top: 47.5%;
}

.product .product_wrap .menu_list .coffee .txt_wrap {
  width: 100%;
  position: absolute;
  left: 5%;
  top: 5%;
  text-align: left;
}

.product .product_wrap .menu_list .coffee .txt_wrap .title_eng {
  margin-bottom: 1rem;
}

.product .product_wrap .menu_list .coffee .txt_wrap .desc {
  margin-bottom: 1rem;
}

.product .product_wrap .menu_list .coffee .txt_wrap a {
  padding: .5rem 1rem;
  display: inline-block;
  border: 1px solid #d1cccb;
  background-color: #d1cccb;
  font-size: .7em;
  border-radius: 10px;
}

.product .product_wrap .menu_list .coffee .img_wrap {
  left: 50%;
  top: 10%;
}

.product .product_wrap .menu_list .coffee .img_wrap img {
  width: 60%;
  -webkit-transform: rotate(-350deg);
          transform: rotate(-350deg);
}

.product .product_wrap .menu_list .icecream {
  background-color: #c8bfb0;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  width: 35%;
  height: 210px;
  right: 32.5%;
  top: 72.5%;
}

.product .product_wrap .menu_list .icecream .txt_wrap {
  width: 100%;
  position: absolute;
  right: 5%;
  top: 5%;
  text-align: right;
}

.product .product_wrap .menu_list .icecream .txt_wrap .title_eng {
  margin-bottom: 1rem;
}

.product .product_wrap .menu_list .icecream .txt_wrap .desc {
  margin-bottom: 1rem;
}

.product .product_wrap .menu_list .icecream .txt_wrap a {
  padding: .5rem 1rem;
  display: inline-block;
  border: 1px solid #d1cccb;
  background-color: #d1cccb;
  font-size: .7em;
  border-radius: 10px;
}

.product .product_wrap .menu_list .icecream .img_wrap {
  left: -20%;
  top: 5%;
}

.product .product_wrap .menu_list .icecream .img_wrap img {
  width: 70%;
  -webkit-transform: rotate(350deg);
          transform: rotate(350deg);
}

.product .product_wrap .menu_list .gift {
  background-color: #e5d8bc;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  width: 25%;
  height: 300px;
  right: 5%;
  top: 55%;
}

.product .product_wrap .menu_list .gift .txt_wrap {
  width: 100%;
  position: absolute;
  left: 0%;
  top: 5%;
  text-align: center;
}

.product .product_wrap .menu_list .gift .txt_wrap .title_eng {
  margin-bottom: 1rem;
}

.product .product_wrap .menu_list .gift .txt_wrap .desc {
  margin-bottom: 1rem;
}

.product .product_wrap .menu_list .gift .txt_wrap a {
  padding: .5rem 1rem;
  display: inline-block;
  border: 1px solid #d1cccb;
  background-color: #d1cccb;
  font-size: .7em;
  border-radius: 10px;
}

.product .product_wrap .menu_list .gift .img_wrap {
  left: 10%;
  top: 50%;
}

.product .product_wrap .menu_list .gift .img_wrap img {
  width: 80%;
}

/* 매장 찾기 & 케이터링 서비스 */
.store {
  width: 100%;
  background: url("../img/bg_m_bannerbg2.jpg") center center;
  height: 400px;
  background-attachment: fixed;
  position: relative;
}

.store .store_wrap {
  width: 100%;
}

.store .store_wrap .find {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background: url("../img/bn_store.png") no-repeat;
  position: absolute;
  left: 30%;
  top: -10%;
  opacity: 0;
}

@-webkit-keyframes rotation {
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotation {
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.store .store_wrap .catering {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background: url("../img/bn_catering.png") no-repeat;
  position: absolute;
  left: 50%;
  top: 20%;
  opacity: 0;
}

.store .store_wrap.active .find {
  -webkit-animation: rotation 1s 1 ease;
          animation: rotation 1s 1 ease;
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 1;
}

.store .store_wrap.active .catering {
  -webkit-animation: rotation 1s 1 ease;
          animation: rotation 1s 1 ease;
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 1;
}

/* sns */
.main_sns {
  width: 100%;
  margin: 10rem auto;
}

.main_sns .sns_wrap {
  margin: 0 auto;
}

.main_sns .sns_wrap h2 {
  text-align: center;
}

.main_sns .sns_wrap .sns_txt {
  text-align: center;
  margin: 1.5rem auto;
}

.main_sns .sns_wrap .sns_txt .sns_img {
  margin: 1.5rem auto;
}

.main_sns .sns_wrap .sns_txt .sns_img li {
  display: inline-block;
  margin-left: .6rem;
  width: 64px;
  height: 64px;
  border: 1px solid #c8bfb0;
  border-radius: 50%;
}

.main_sns .sns_wrap .sns_txt .sns_img li a {
  display: inline-block;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  position: relative;
}

.main_sns .sns_wrap .sns_txt .sns_img li a::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background: url("../img/icon_sns.png") no-repeat;
  margin-left: -13px;
  margin-top: -9.5px;
  background-size: auto;
  width: 26px;
  height: 19px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main_sns .sns_wrap .sns_txt .sns_img .facebook a::after {
  background-position: 0 0;
}

.main_sns .sns_wrap .sns_txt .sns_img .facebook:hover {
  background-color: #745e43;
}

.main_sns .sns_wrap .sns_txt .sns_img .facebook:hover a::after {
  background: url("../img/ico_m_sns_hover.png") no-repeat;
  background-position: 0 0;
}

.main_sns .sns_wrap .sns_txt .sns_img .instagram a::after {
  background-position: 0 -20px;
}

.main_sns .sns_wrap .sns_txt .sns_img .instagram:hover {
  background-color: #745e43;
}

.main_sns .sns_wrap .sns_txt .sns_img .instagram:hover a::after {
  background: url("../img/ico_m_sns_hover.png") no-repeat;
  background-position: 0 -20px;
}

.main_sns .sns_wrap .sns_txt .sns_img .blog a::after {
  background-position: 0 -38px;
}

.main_sns .sns_wrap .sns_txt .sns_img .blog:hover {
  background-color: #745e43;
}

.main_sns .sns_wrap .sns_txt .sns_img .blog:hover a::after {
  background: url("../img/ico_m_sns_hover.png") no-repeat;
  background-position: 0 -38px;
}

.main_sns .sns_wrap .sns_txt .sns_img .youtube a::after {
  background-position: 0 -57px;
}

.main_sns .sns_wrap .sns_txt .sns_img .youtube:hover {
  background-color: #745e43;
}

.main_sns .sns_wrap .sns_txt .sns_img .youtube:hover a::after {
  background: url("../img/ico_m_sns_hover.png") no-repeat;
  background-position: 0 -57px;
}

.main_sns .sns_wrap .sns_txt .sns_img .twitter a::after {
  background-position: 0 -74px;
}

.main_sns .sns_wrap .sns_txt .sns_img .twitter:hover {
  background-color: #745e43;
}

.main_sns .sns_wrap .sns_txt .sns_img .twitter:hover a::after {
  background: url("../img/ico_m_sns_hover.png") no-repeat;
  background-position: 0 -74px;
}

.main_sns .sns_list {
  width: 100%;
  position: relative;
  height: 260px;
  overflow: hidden;
}

.main_sns .sns_list .list_wrap {
  width: 5720px;
}

.main_sns .sns_list .list_wrap .img_wrap li {
  float: left;
  width: 260px;
  height: 260px;
  overflow: hidden;
}

.main_sns .sns_list .list_wrap .img_wrap li a {
  display: inline-block;
}

.main_sns .sns_list .list_wrap .img_wrap li a img {
  width: 260px;
  display: block;
}

footer {
  background: url("../img/bg_footer.jpg") center top;
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

footer .inner {
  width: 70%;
  padding: 3.5rem 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .inner .footer_info {
  width: 35%;
}

footer .inner .footer_info h1 {
  width: 100%;
  margin-bottom: 2rem;
}

footer .inner .footer_info .adress {
  color: #fff;
  font-size: .8em;
  margin-bottom: 1rem;
}

footer .inner .footer_info div {
  margin-bottom: 1rem;
}

footer .inner .footer_info div p {
  color: #fff;
  font-size: .8em;
  float: left;
  width: 50%;
  margin-bottom: 1rem;
}

footer .inner .footer_info .copyright {
  color: #fff;
  font-size: .7em;
  margin-bottom: 2rem;
}

footer .inner .footer_info .familysite button {
  font-size: .7em;
  background: transparent url("../img/family_size_off.png") no-repeat 100% 0;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: .5rem 3rem .5rem 1rem;
  position: relative;
  outline: none;
}

footer .inner .footer_info .familysite button:hover {
  background: transparent url("../img/family_size_on.png") no-repeat 100% 0;
  border-radius: 0  0 5px 5px;
}

footer .inner .footer_info .familysite button:hover ul {
  opacity: 1;
}

footer .inner .footer_info .familysite button ul {
  position: absolute;
  left: 0;
  bottom: 100%;
  background: rgba(55, 35, 23, 0.8);
  width: 100%;
  border-radius: 5px 5px 0 0;
  border: 1px solid #fff;
  opacity: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .inner .footer_info .familysite button ul li {
  padding: .5rem;
}

footer .inner .footer_info .familysite button ul li a {
  font-size: .7em;
  color: #fff;
}

footer .inner .footer_menu {
  width: 60%;
}

footer .inner .footer_menu .sitemap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px solid #c9c6c4;
}

footer .inner .footer_menu .sitemap .menu_1 {
  margin: 1rem;
  display: block;
}

footer .inner .footer_menu .sitemap .menu_1 ul li {
  display: inline-block;
  margin-right: 2rem;
  vertical-align: top;
}

footer .inner .footer_menu .sitemap .menu_1 ul li > a {
  font-size: .8em;
  color: #e1e1e1;
  font-weight: 900;
}

footer .inner .footer_menu .sitemap .menu_1 ul li ul {
  margin-top: 1rem;
}

footer .inner .footer_menu .sitemap .menu_1 ul li ul li {
  display: block;
}

footer .inner .footer_menu .sitemap .menu_1 ul li ul li a {
  font-size: .8em;
  color: #fff;
  font-weight: 400;
}

footer .inner .footer_menu .sitemap .menu_2 {
  margin: 1rem;
}

footer .inner .footer_menu .sitemap .menu_2 ul li {
  display: block;
  margin-bottom: .5rem;
}

footer .inner .footer_menu .sitemap .menu_2 ul li a {
  font-size: .8em;
  color: #fff;
}

footer .inner .footer_menu .footer_sns {
  margin: 1rem;
  text-align: right;
}

footer .inner .footer_menu .footer_sns ul li {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 100%;
}

footer .inner .footer_menu .footer_sns ul li a {
  width: 26px;
  height: 19px;
  margin: 10px 0 0 5px;
  display: block;
  background: url("../img/ico_m_sns_hover.png") no-repeat;
}

footer .inner .footer_menu .footer_sns ul .facebook a {
  background-position: 0 0;
}

footer .inner .footer_menu .footer_sns ul .instagram a {
  background-position: 0 -20px;
}

footer .inner .footer_menu .footer_sns ul .blog a {
  background-position: 0 -37px;
}

footer .inner .footer_menu .footer_sns ul .youtube a {
  background-position: 0 -57px;
}

footer .inner .footer_menu .footer_sns ul .twitter a {
  background-position: 0 -74px;
}

footer .inner .footer_menu .policy {
  border-top: 1px solid #c9c6c4;
}

footer .inner .footer_menu .policy ul {
  margin: 1rem;
}

footer .inner .footer_menu .policy ul li {
  display: inline-block;
  margin-right: 1rem;
}

footer .inner .footer_menu .policy ul li:nth-last-child() {
  margin-right: 0;
}

footer .inner .footer_menu .policy ul li a {
  font-size: .75em;
  color: #fff;
}
/*# sourceMappingURL=index.css.map */