
header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 100;
    transition: all .5s;
    .content1 {
        background: #f8faf0;
        border-bottom: 1px solid #e5e2e0;
        .content_inner {
            width: 70%;
            margin: 0 auto;
            position: relative;
            .logo {
                text-align: center;
                padding: 1rem;
                a {
                    display: inline-block;
                    background: url('../img/logo_bg.png') no-repeat;
                    text-indent: -9999px;
                    width: 176px; height: 60px;
                }
            }
            .header_sns {
                position: absolute;
                left: 0; top: 50%;
                transform: translateY(-50%);
            }
            .etc {
                position: absolute;
                right: 0; top: 50%;
                transform: translateY(-50%);
            }
            .header_sns,
            .etc {
                ul {
                    width: 100%;
                    li {
                        display: inline-block;
                        padding-right: 20px;
                        a {
                            font-size: 0.7em;
                            color: #736a60;
                        }
                    }
                }
            }
        }
    }
    &.active {
        transform: translateY(-93px);
        .content2 {
            .logo {
                opacity: 1;
            }
            .service {
                opacity: 0;
            }
        }
    }
}

/* NAVI */
.content2 {
    background: #fff;
    position: relative;
    border-bottom: 1px solid #e5e2e0;
    .content_inner {
        width: 70%;
        margin: 0 auto;
        &:after {
            content: '';
            display: table;
            clear: both;
        }
        .logo {
            float: left;
            text-align: left;
            margin-top: 7px;
            opacity: 0;
            transition: all .5s;
            a {
                display: inline-block;
                background: url('../img/logo_bg2.png') no-repeat;
                text-indent: -9999px;
                width: 120px; height: 41px;
            }
        }
        .service {
            float: left;
            position: absolute;
            left: 15%; top: 0;
            transition: all .5s;
            ul {
                li {
                    display: inline-block;
                    a {
                        display: inline-block;
                        span {
                            display: block;
                            background: url('../img/gnb_menu.png') no-repeat;
                            text-indent: -9999em;
                            height: 52px;
                        }
                    }
                }
                .service_login {
                    a {
                        span {
                            width: 40px;
                            background-position: 0 0px;
                        }
                    }
                }
                .service_join {
                    padding-left: 40px;
                    a {
                        span {
                            width: 30px;
                            background-position: 0 -120px;
                        }
                    }
                }
            }
        }
    }
}


.gnb {
    float: right;
    .gnb_wrap {
        width: 100%;
        ul {
            .gnb_depth1 {
                float: left;
                padding-left: 50px;
                .gnb_main {
                    a {
                        display: inline-block;
                        span {
                            display: block;
                            background: url('../img/gnb_menu.png') no-repeat;
                            text-indent: -9999em;
                            height:51px;
                        }
                    }
                }
                .gnb_sub_wrap {
                    width: 100%;
                    position: absolute;
                    left: 0; top: 100%;
                    display: none;
                    height: 230px;
                    border-top: 1px solid #e5e2e0;
                    border-bottom: 1px solid #e5e2e0;
                    padding: 2rem 0;
                    background: #fff;
                    .gnb_sub {
                        width: 70%;
                        margin: 0 auto;
                        transition: .5s;
                        ul {
                            .gnb_depth2{
                                display: inline-block;
                                padding-right: 1rem;
                                margin-right: 40px;
                                vertical-align: top;
                                > a {
                                    font-size: 0.9em;
                                    font-weight: 600;
                                    &:hover {
                                        color: #2c1810;
                                        font-weight: 800;
                                    }
                                }
                                ul {
                                    margin-top: 1rem;
                                    li {
                                        display: block;
                                        padding-bottom: .5rem;
                                        a {
                                            color: #9f9d9d;
                                            font-size: 0.9em;
                                            &:hover {
                                                color: #fabe41;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            /* 메뉴 마우스 오버 */
            .gnb_onlinestore{
                .gnb_main {
                    a {
                        span {
                            width: 107px;
                            background-position: -70px -299px;
                        }
                    }
                    &:hover {
                        span {
                            background-position: -70px -359px;
                        }
                    }
                }
                &:hover {
                    .gnb_sub_wrap {
                        display: block;
                    }
                }
            }
            .gnb_menu{
                .gnb_main {
                    a {
                        span {
                            width: 46px;
                            background-position: -70px 0px;
                        }
                    }
                    &:hover {
                        span {
                            background-position: -140px 0px;
                        }
                    }
                }
                &:hover {
                    .gnb_sub_wrap {
                        display: block;
                    }
                }
            }
            .gnb_event{
                .gnb_main {
                    a {
                        span {
                            width: 50px;
                            background-position: -70px -60px;
                        }
                    }
                    &:hover {
                        span {
                            background-position: -140px -60px;
                        }
                    }
                }
                &:hover {
                    .gnb_sub_wrap {
                        display: block;
                    }
                }
            }
            .gnb_store{
                .gnb_main {
                    a {
                        span {
                            width: 50px;
                            background-position: -70px -120px;
                        }
                    }
                    &:hover {
                        span {
                            background-position: -140px -120px;
                        }
                    }
                }
                &:hover {
                    .gnb_sub_wrap {
                        display: block;
                    }
                }
            }
            .gnb_brand{
                .gnb_main {
                    a {
                        span {
                            width: 55px;
                            background-position: -70px -180px;
                        }
                    }
                    &:hover {
                        span {
                            background-position: -140px -180px;
                        }
                    }
                }
                &:hover {
                    .gnb_sub_wrap {
                        display: block;
                    }
                }
            }
        }
    }
}

/* MONTHLY DONUTS */
.ad_dom {
    position: fixed;
    left: 0; top: 0;
    z-index: 101;
    width: 100%;
    background: #2c1810;
    border-bottom: 4px solid #2c1810;
    transform: translateY(-210px);
    transition: .5s ease-in-out;
    &.active {
        transform: translateY(0);
        .content_inner {
            .btn {
                a {
                    background: #2c1810 url('../img/ad_dom_on.png') no-repeat 12px 10px;
                }
            }
        }
    }
    .content_inner {
        width: 100%;
        margin: 0 auto;
        position: relative;
        .monthly_donuts {
            height: 210px;
            margin: 0 auto;
            width: 40%;
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                li {
                    a {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .btn {
            position: absolute;
            right: 5%; bottom: -24px;
            a {
                display: inline-block;
                height: 24px;
                padding: 0 10px 0 30px;
                border-radius: 0 0 5px 5px;
                background: #2c1810 url('../img/ad_dom.png') no-repeat 12px 10px;
                color: #f9b234;
                font-size: .7em;
                vertical-align: top;
                line-height: 2.3;
            }
        }
    }
}

// Main

main {
    width: 100%;
    .container {
        width: 100%;
        margin: 142px auto;
        .main_wrap {
            width: 100%;
        }
    }
}

// Main Visual Slide

.main_slide {
    width: 100%;
    position: relative;
    .slide_wrap {
        width: 100%;
        opacity: 1;
        display: block;
        ul {
            position: relative;
            li {
                a {
                    display: block;
                    width: 100%;
                    height: 550px;
                    position: relative;
                    object-fit:cover;
                    div {
                        position: absolute;
                        opacity: 0;
                        transition: .5s;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .s00 {
                a {
                    background: url('../img/bg_slide_donuts.jpg') no-repeat center center;
                    .ani_donuts {
                    left: 50%; top: 100%;
                    transform: translate(-50%, 0%);
                    }
                    &.active {
                        .ani_donuts {
                            top: 10%;
                            opacity: 1;
                        }
                    }
                }
            }
            .s01 {
                a {
                    background: url('../img/bg_slide_chocoA.jpg') no-repeat center center;
                    .ani_chocoA_01 {
                        left: 30%; top: 100%;
                        transform: translate(-30%, 0%);
                    }
                    .ani_chocoA_02 {
                        left: 25%; top: 100%;
                        transform: translate(-25%, 0%);
                    }
                    &.active {
                        .ani_chocoA_01 {
                            top: 25%;
                            opacity: 1;
                        }
                        .ani_chocoA_02 {
                            top: 40%;
                            opacity: 1;
                        }
                    }
                }
            }
            .s02 {
                a {
                    background: url('../img/bg_slide_inside.jpg') no-repeat center center;
                    .ani_inside_01 {
                        left: 30%; top: 100%;
                        transform: translate(-25%, 0%);
                    }
                    .ani_inside_02 {
                        left: 32%; top: 0%;
                        transform: translate(-32%, 0%);
                    }
                    &.active {
                        .ani_inside_01 {
                            top: 20%;
                            opacity: 1;
                        }
                        .ani_inside_02 {
                            top: 70%;
                            opacity: 1;
                        }
                    }
                }
            }
            .s03 {
                a {
                    background: url('../img/bg_slide_mainCoffee.jpg') no-repeat center center;
                    .ani_mainCoffee {
                        left: 28%; top: 100%;
                        transform: translate(-28%, 0%);
                    }
                    &.active {
                        .ani_mainCoffee {
                            top: 30%;
                            opacity: 1;
                        }
                    }
                }
            }
            .s04 {
                a {
                    background: url('../img/bg_slide_mlikcream.jpg') no-repeat center center;
                    .ani_milkcream {
                        left: 28%; top: 0%;
                        transform: translate(-28%, 0%);
                    }
                    &.active {
                        .ani_milkcream {
                            top: 25%;
                            opacity: 1;
                        }
                    }
                }
            }
            .s05 {
                a {
                    background: url('../img/bg_slide_mshakk.jpg') no-repeat center center;
                    .ani_mshakk {
                        left: 50%; top: 0%;
                        transform: translate(-50%, 0%);
                    }
                    &.active {
                        .ani_mshakk {
                            top: 10%;
                            opacity: 1;
                        }
                    }
                }
            }
            .s06 {
                a {
                    background: url('../img/bg_slide_theater.jpg') no-repeat center center;
                    .ani_theater_01 {
                        left: 30%; top: 100%;
                        transform: translate(-30%, 0%);
                    }
                    .ani_theater_02 {
                        left: 30%; top: 0%;
                        transform: translate(-30%, -0%);
                    }
                    &.active {
                        .ani_theater_01 {
                            top: 30%;
                            opacity: 1;
                        }
                        .ani_theater_02 {
                            top: 60%;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

/* 비쥬얼 스토리 버튼 */
.main_slide {
    .brandstory_btn {
        position: absolute;
        right: 20%;
        transform: translateX(-10%);
        animation: btnSlide 3s ease-in-out infinite alternate;
        img {
            width: 100%;
        }
    }
}

@keyframes btnSlide {
    0% { top: -10%;}
    100% { top: 0%; }
}

/* 비쥬얼 스토리 */
.main_slide {
    position: relative;
    .br_wrap {
        width: 100%;
        position: absolute;
        left: 0; top: 0;
        visibility: hidden;
        &.active {
            width: 100%;
            visibility: visible;
            z-index: 10;
        }
        ul {
            position: relative;
            li {
                a {
                    display: block;
                    width: 100%;
                    height: 550px;
                    position: relative;
                    div {
                        position: absolute;
                        opacity: 0;
                        transition: .5s;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .br00 {
                a {
                    background: url('../img/img_br_visual01.jpg') no-repeat center center;
                    .vis_light {
                        left: 506px; top: 95px;
                        width: 376px; height: 342px;
                        opacity: 0;
                        animation: light 1s ease-in-out 2s infinite alternate;
                    }
                    .vis_br00_01 {
                        left: 50%; top: 45%;
                        transform: translate(-54.5%, -45%);
                    }
                    .vis_br00_02 {
                        left: 58%; top: 55%;
                        transform: translate(-62%, -55%);
                    }
                    &.active {
                        .vis_br00_01 {
                            left: 54%;
                            opacity: 1;
                        }

                        .vis_br00_02 {
                            left: 62%;
                            opacity: 1;
                        }
                    }
                }
            }
            @keyframes light {
                0% { opacity: 0;}
                30% { opacity: 0.6;}
                60% { opacity: 1;}
                100% { opacity: 1; }
            }
            .br01 {
                a {
                    background: url('../img/img_br_visual02.jpg') no-repeat center top;
                    .vis_br01_01 {
                        left: 70%; top: 20%;
                        transform: translate(-70%, -20%);
                    }
                    .vis_br01_02 {
                        left: 70%; top: 31%;
                        transform: translate(-70%, -31%);
                    }
                    &.active {
                        .vis_br01_01 {
                            opacity: 1;
                        }
                        .vis_br01_02 {
                            opacity: 1;
                        }
                    }
                }
            }
            .br02 {
                a {
                    background: url('../img/img_br_visual03.jpg') no-repeat center top;
                    .vis_br02_01 {
                        left: 50%; top: 35%;
                        transform: translate(-50%, -35%);
                    }
                    .vis_br02_02 {
                        left: 50%; top: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &.active {
                        .vis_br02_01 {
                            left: 55%;
                            opacity: 1;
                        }
                        .vis_br02_02 {
                            left: 40%;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.br_wrap {
    position: relative;
    .closeBtn {
        position: absolute;
        right: 20%; top: 10%;
        span {
            display: block;
            width: 26px; height: 2px;
            background: #666;
            &:nth-of-type(1) {
                transform: translateY(2px) rotate(45deg);
            }
            &:nth-of-type(2) {
                transform: translateY(0px) rotate(-45deg);
            }
        }
    }
}

/* 이벤트 */
.new_event {
    width: 65%;
    margin: 10rem auto;
    .inner {
        .event_top {
            display: flex;
            justify-content: space-between;
            .h2 {
                img {
                    width: 100%;
                }
            }
            .txt_wrap {
                strong {
                    font-size: 1.1em;
                    color: #392213
                }
                p {
                    font-size: .7em;
                }
                &:before {
                    content: '';
                    display: block;
                    width: 20%;
                    height: 2px;
                    background: #736a60;
                    margin-bottom: 2rem;
                }
            }
            .new_video {
                iframe {
                }
            }
        }
        .allview_btn {
            a {
                padding: 1rem 2rem;
                border: 1px solid #c8bfb0;
                border-radius: 10px;
                font-size: .8em;
                color: #ab9b7f
            }
        }
        .event_slide {
            margin: 1rem auto;
            .event_wrap {
                .event {
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 20px;
                    border-radius: 10px;
                    border: 1px solid #d1cccb;
                    overflow: hidden;
                    margin-top: 1rem;
                    &:nth-of-type(4n) {
                        margin-left: 0;
                    }
                    a {
                        width: 100%;
                        box-sizing: border-box;
                        
                        figure {
                            overflow: hidden;
                            position: relaive;
                            border-bottom: 1px solid #d1cccb;
                            
                            img {
                                width: 100%;
                                display: block;
                            }
                        }
                        .title {
                            padding: 1rem 1rem 0 1rem;
                        }
                        .period {
                            padding: 0 1rem 1rem 1rem;
                            border-bottom: 1px solid #d1cccb;
                            font-size: .8em;
                        }
                        .benefit {
                            padding: 1rem;
                            height: 70px;
                            overflow: hidden;
                            font-size: .9em;
                        }
                    }
                }
            }
        }
    }
}

/* 백그라운드 스크롤 */
.banner_bg {
    width: 100%;
    height: 400px;
    background: url('../img/bg_m_bannerbg.jpg') center center;
    background-attachment: fixed;
    position: relative;
    .scroll_txt1 {
        position: absolute;
        left: 0%; top: 30%;
        transition: all 1s ease-out;
        opacity: 0;
        img {
            width: 100%;
        }
    }
    .scroll_txt2 {
        position: absolute;
        left: 0%; top: 55%;
        transition: all 1s ease-out;
        opacity: 0;
        img {
            width: 100%;
        }
    }
    &.active {
        .scroll_txt1 {
            left: 30%;
            opacity: 1;
        }
        .scroll_txt2 {
            left: 35%;
            opacity: 1;
        }

    }
}

/* 크리스피 크림 도넛 메뉴 */
.product {
    width: 70%;
    margin: 10rem auto;
    .product_wrap {
        width: 100%; height: 1200px;
        margin: 0 auto;
        position: relative;
        h2 {
            width: 100%;
            text-align: center;
        }
        .product_txt {
            text-align: center;
            margin: 1.5rem auto;
            p {
                font-size: .7em;
            }
        }
        .menu_list {
            margin: 10rem auto 0;
            li {
                position: absolute;
                background: #fff;
                .img_wrap {
                    position: absolute;
                    width: 100%;
                }
            }
            .donuts {
                background-color: #c8bfb0;
                box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
                width: 40%;
                height: 302px;
                left: 27.5%; top: 20%; 
                // transform: translateX(-45%);
                .txt_wrap {
                    position: absolute;
                    right: 5%; bottom: 5%;
                    text-align: end;
                    .title_eng {
                        margin-bottom: 1rem;
                    }
                    .desc {
                        margin-bottom: 1rem;
                    }
                    a {
                        padding: .5rem 1rem;
                        display: inline-block;
                        border: 1px solid #d1cccb;
                        background-color: #d1cccb;
                        font-size: .7em;
                        border-radius: 10px;
                    }
                }
                .img_wrap {
                    right: 20%; top: -30%;
                    img {
                        width: 80%;
                    }
                }
            }
            .share {
                background-color: #2c1810;
                box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
                width: 25%;
                height: 390px;
                right: 5%; top: 20%;
                .txt_wrap {
                    width: 100%;
                    position: absolute;
                    left: 0%; top: 5%;
                    text-align: center;
                    .title_eng {
                        margin-bottom: 1rem;
                        color: #fff;
                    }
                    .desc {
                        margin-bottom: 1rem;
                        color: #fff;
                    }
                    a {
                        padding: .5rem 1rem;
                        display: inline-block;
                        border: 1px solid #d1cccb;
                        background-color: #d1cccb;
                        font-size: .7em;
                        border-radius: 10px;
                    }
                }
                .img_wrap {
                    right: -25%; top: 35%;
                    img {
                        width: 90%;
                    }
                }
            }
            .beverage {
                background-color: #ab9b7f;
                box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
                width: 30%;
                height: 360px;
                left: 0%; top: 47.5%;
                .txt_wrap {
                    width: 100%;
                    position: absolute;
                    left: 0%; top: 5%;
                    text-align: center;
                    .title_eng {
                        margin-bottom: 1rem;
                    }
                    .desc {
                        margin-bottom: 1rem;
                    }
                    a {
                        padding: .5rem 1rem;
                        display: inline-block;
                        border: 1px solid #d1cccb;
                        background-color: #d1cccb;
                        font-size: .7em;
                        border-radius: 10px;
                    }
                }
                .img_wrap {
                    left: 10%; top: 45%;
                    img {
                        width: 80%;
                    }
                }
            }
            .coffee {
                background-color: #fff;
                box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
                width: 35%;
                height: 270px;
                right: 32.5%; top: 47.5%;
                .txt_wrap {
                    width: 100%;
                    position: absolute;
                    left: 5%; top: 5%;
                    text-align: left;
                    .title_eng {
                        margin-bottom: 1rem;
                    }
                    .desc {
                        margin-bottom: 1rem;
                    }
                    a {
                        padding: .5rem 1rem;
                        display: inline-block;
                        border: 1px solid #d1cccb;
                        background-color: #d1cccb;
                        font-size: .7em;
                        border-radius: 10px;
                    }
                }
                .img_wrap {
                    left: 50%; top: 10%;
                    img {
                        width: 60%;
                        transform: rotate(-350deg);
                    }
                }
            }
            .icecream {
                background-color: #c8bfb0;
                box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
                width: 35%;
                height: 210px;
                right: 32.5%; top: 72.5%;
                .txt_wrap {
                    width: 100%;
                    position: absolute;
                    right: 5%; top: 5%;
                    text-align: right;
                    .title_eng {
                        margin-bottom: 1rem;
                    }
                    .desc {
                        margin-bottom: 1rem;
                    }
                    a {
                        padding: .5rem 1rem;
                        display: inline-block;
                        border: 1px solid #d1cccb;
                        background-color: #d1cccb;
                        font-size: .7em;
                        border-radius: 10px;
                    }
                }
                .img_wrap {
                    left: -20%; top: 5%;
                    img {
                        width: 70%;
                        transform: rotate(350deg);
                    }
                }
            }
            .gift {
                background-color: #e5d8bc;
                box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
                width: 25%;
                height: 300px;
                right: 5%; top: 55%;
                .txt_wrap {
                    width: 100%;
                    position: absolute;
                    left: 0%; top: 5%;
                    text-align: center;
                    .title_eng {
                        margin-bottom: 1rem;
                    }
                    .desc {
                        margin-bottom: 1rem;
                    }
                    a {
                        padding: .5rem 1rem;
                        display: inline-block;
                        border: 1px solid #d1cccb;
                        background-color: #d1cccb;
                        font-size: .7em;
                        border-radius: 10px;
                    }
                }
                .img_wrap {
                    left: 10%; top: 50%;
                    
                    img {
                        width: 80%;
                    }
                }
            }
        }
    }
}

/* 매장 찾기 & 케이터링 서비스 */

.store {
    width: 100%;
    background: url('../img/bg_m_bannerbg2.jpg') center center;
    height: 400px;
    background-attachment: fixed;
    position: relative;
    .store_wrap {
        width: 100%;
        .find {
            width: 400px; height: 400px;
            border-radius: 100%;
            background: url('../img/bn_store.png') no-repeat;
            position: absolute;
            left: 30%; top: -10%;
            opacity: 0;
        }
        @keyframes rotation {
            100% {
                transform: rotateY(360deg);}
        }
        .catering {
            width: 350px; height: 350px;
            border-radius: 100%;
            background: url('../img/bn_catering.png') no-repeat;
            position: absolute;
            left: 50%; top: 20%;
            opacity: 0;
        }
        &.active {
            .find {
                animation: rotation 1s 1 ease;
                transform-origin: center;
                opacity: 1;
            }
            .catering {
                animation: rotation 1s 1 ease;
                transform-origin: center;
                opacity: 1;
            }
        }
    }
}

/* sns */
.main_sns {
    width: 100%;
    margin: 10rem auto;
    .sns_wrap {
        margin: 0 auto;
        h2 {
            text-align: center;
        }
        .sns_txt {
            text-align: center;
            margin: 1.5rem auto;
            strong {}
            .sns_img {
                margin: 1.5rem auto;
                li {
                    display: inline-block;
                    margin-left: .6rem;
                    width: 64px; height: 64px;
                    border: 1px solid #c8bfb0;
                    border-radius: 50%;
                    a {
                        display: inline-block;
                        text-indent: -9999px;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 50%; left: 50%;
                            background: url('../img/icon_sns.png') no-repeat;
                            margin-left: -13px;
                            margin-top: -9.5px;
                            background-size: auto;
                            width: 26px; height: 19px;
                            transition: all .5s;
                        }
                    }
                    
                }
                .facebook {
                    a {
                        &::after {
                            background-position: 0 0;
                        }
                        
                    }
                    &:hover {
                        background-color: #745e43;
                        a {
                            &::after {
                                background: url('../img/ico_m_sns_hover.png') no-repeat;
                                background-position: 0 0;
                            }
                        }
                    }
                }
                .instagram {
                    a {
                        &::after {
                            background-position: 0 -20px;
                        }
                        
                    }
                    &:hover {
                        background-color: #745e43;
                        a {
                            &::after {
                                background: url('../img/ico_m_sns_hover.png') no-repeat;
                                background-position: 0 -20px;
                            }
                        }
                    }
                }
                .blog {
                    a {
                        &::after {
                            background-position: 0 -38px;
                        }
                        
                    }
                    &:hover {
                        background-color: #745e43;
                        a {
                            &::after {
                                background: url('../img/ico_m_sns_hover.png') no-repeat;
                                background-position: 0 -38px;
                            }
                        }
                    }
                }
                .youtube {
                    a {
                        &::after {
                            background-position: 0 -57px;
                        }
                        
                    }
                    &:hover {
                        background-color: #745e43;
                        a {
                            &::after {
                                background: url('../img/ico_m_sns_hover.png') no-repeat;
                                background-position: 0 -57px;
                            }
                        }
                    }
                }
                .twitter {
                    a {
                        &::after {
                            background-position: 0 -74px;
                        }   
                    }
                    &:hover {
                        background-color: #745e43;
                        a {
                            &::after {
                                background: url('../img/ico_m_sns_hover.png') no-repeat;
                                background-position: 0 -74px;
                            }
                        }
                    }
                }
            }
        }
    }
    .sns_list {
        width: 100%;
        position: relative;
        height: 260px;
        overflow: hidden;
        .list_wrap {
            width: 5720px;
            .img_wrap {
                li {
                    float: left;
                    width: 260px;
                    height: 260px;
                    overflow: hidden;
                    a {
                        display: inline-block;
                        img {
                            width: 260px;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background: url('../img/bg_footer.jpg') center top;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    .inner {
        width: 70%;
        padding: 3.5rem 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .footer_info {
            width: 35%;
            h1 {
                width: 100%;
                margin-bottom: 2rem;
            }
            .adress {
                color: #fff;
                font-size: .8em;
                margin-bottom: 1rem;
            }
            div {
                margin-bottom: 1rem;
                p {
                    color: #fff;
                    font-size: .8em;
                    float: left;
                    width: 50%;
                    margin-bottom: 1rem;
                }
            }
            .copyright {
                color: #fff;
                    font-size: .7em;
                    margin-bottom: 2rem;
            }
            .familysite {
                button {
                    font-size: .7em;
                    background: transparent url('../img/family_size_off.png') no-repeat 100% 0;
                    border: 1px solid #fff;
                    border-radius: 5px;
                    color: #fff;
                    padding: .5rem 3rem .5rem 1rem;
                    position: relative;
                    outline: none;
                    &:hover {
                        background: transparent url('../img/family_size_on.png') no-repeat 100% 0;
                        border-radius: 0  0 5px 5px;
                        ul {
                            opacity: 1;
                        }
                    }
                    ul {
                        position: absolute; 
                        left: 0; bottom: 100%;
                        background: rgba(55,35,23,0.8);
                        width: 100%;
                        border-radius: 5px 5px 0 0;
                        border: 1px solid #fff;
                        opacity: 0;
                        box-sizing: border-box;
                        li {
                            padding: .5rem;
                            a {
                                font-size: .7em;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        .footer_menu {
            width: 60%;

            .sitemap {
                width: 100%;
                display: flex;
                justify-content: space-between;
                border-top: 2px solid #c9c6c4;
                .menu_1 {
                    margin: 1rem;
                    display: block;
                    ul {
                        li {
                            display: inline-block;
                            margin-right: 2rem;
                            vertical-align: top;
                            > a {
                                font-size: .8em;
                                color: #e1e1e1;
                                font-weight: 900;
                            }
                            ul {
                                margin-top: 1rem;
                                li {
                                    
                                    display: block;
                                    
                                    a {
                                        font-size: .8em;
                                        color: #fff;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }
                    }
                }
                .menu_2 {
                    margin: 1rem;
                    ul {
                        li {
                            display: block;
                            margin-bottom: .5rem;
                            a {
                                font-size: .8em;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .footer_sns {
                margin: 1rem;
                text-align: right;
                ul {
                    li {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        border: 1px solid #fff;
                        border-radius: 100%;
                        a {
                            width: 26px; height: 19px;
                            margin: 10px 0 0 5px;
                            display: block;
                            background: url('../img/ico_m_sns_hover.png') no-repeat;
                        }
                    }
                    .facebook {
                        a {
                            background-position: 0 0;
                        }
                    }
                    .instagram {
                        a {
                            background-position: 0 -20px;
                        }
                    }
                    .blog {
                        a {
                            background-position: 0 -37px;
                        }
                    }
                    .youtube {
                        a {
                            background-position: 0 -57px;
                        }
                    }
                    .twitter {
                        a {
                            background-position: 0 -74px;
                        }
                    }
                }
            }
            .policy {
                border-top: 1px solid #c9c6c4;
                ul {
                    margin: 1rem;
                    li {
                        display: inline-block;
                        margin-right: 1rem;
                        &:nth-last-child(){
                            margin-right: 0;
                        }
                        a {
                            font-size: .75em;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}