/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}
/*-----메인 비쥬얼 prev-next-----*/
.slide_wrap,
.br_wrap {
    ul {
        .slick-prev,
        .slick-next {
            border: none;
            font-size: 0;
            width: 80px; height: 2px;
            position:absolute;
            top: 50%; 
            transform: translateY(-50%);
            z-index: 10;
            background-color: #fff;
            outline: none;
        }
        .slick-prev {
            left: 10%;
            &::before {
                content: 'PREV';
                display: inline-block;
                color: #fff;
                width: 100%;
                font-size: 12px;
                background-color: transparent;
                transform: translate(25%,-120%);
                letter-spacing: .3em;
            }
        }
        .slick-next {
            right: 10%;
            &::before {
                content: 'NEXT';
                display: inline-block;
                color: #fff;
                width: 100%;
                font-size: 12px;
                background-color: transparent;
                transform: translate(-25%,-120%);
                letter-spacing: .3em;
            }
        }
        .slick-dots {
            position: absolute;
            left: 50%; bottom: 5%;
            transform: translate(-50%, -5%);
            > li {
                display: inline-block;
                margin: 0 3px;
                button {
                    width: 6px; height: 6px;
                    font-size: 0;
                    border: none;
                    border-radius: 100%;
                    background-color: #fff;
                    padding: 0;
                }

                &.slick-active {
                    button {
                        width: 10px; height: 10px;
                    }
                }
            }
        }
    }
}

/*-----이벤트 prev-next-----*/
.event_slide {
    .slick-slide {
    margin: 0 5px 0 5px;
    }
}

.event_slide {
    .slick-dots {
        margin-top: 1rem;
        text-align: center;
        > li {
            display: inline-block;
            margin: 0 3px;
            border: none;
            button {
                width: 6px; height: 6px;
                font-size: 0;
                border: none;
                border-radius: 100%;
                background-color: #c1ae96;
                padding: 0;
            }

            &.slick-active {
                button {
                    width: 10px; height: 10px;
                    background-color: #75675c;
                    outline: none;
                }
            }
        }
    }
}

// /*----indicator----*/
// .s_v1 .slick-dots{
//     position:absolute;
//     bottom:20%;
//     right: 0%;
//     list-style:none;
//     margin:0; padding:0;
// }
// .s_v1 .slick-dots > li{
//     display:inline-block; margin:0;
// }
// .s_v1 .slick-dots > li > button{
//     width:90px; height:1px;
//     background:#fff;
//     font-size:0;
//     padding:0;
//     border:none;
// }
// .s_v1 .slick-dots li.slick-active button{
//     height: 5px;
//     background-image: linear-gradient(125deg, rgba(134, 227, 206, 1), rgba(208, 230, 165, 1), rgba(255, 221, 148, .8));
//     outline-style: none;
// }